h1{
    color: rgb(60, 58, 196);
    font-family: "Times New Roman", Times, serif;
    font-size: 36px;
    text-align: center;
    margin-left: 0%;
    }
    
    .formularz {
    
        background-position: center center;
        text-align: center;
        color: rgb(83, 51, 199)
        
    
    
    }
    
    input {
        width: 20%;
        height: 15px;
        padding: 12px 20px;
        box-sizing:border-box;
        border: 2px solid rgb(59, 33, 150);
        border-radius: 16px;
        
        resize:both;
      font-family:Arial, Helvetica, sans-serif;
      font-size: 15px;
    
    }
    
    input:focus {  
      background-color:  #e5a8ca;
      outline: none;  
      } 
    
    textarea {
    
        width: 50%;
      height: 150px;
      padding: 12px 20px;
      box-sizing:border-box;
      border: 2px solid rgb(59, 33, 150);
      border-radius: 10px;

    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    
    }
    input[type=textarea]:focus {   
      background-color:  #e5a8ca;
      outline: none;  
      } 

    input[value] {
      width: 10%;
      margin: 20px 0;
      height: 40px;
      background-color: rgb(60, 58, 196);
      color: rgb(242, 240, 248);
      border-radius: 10px;
      
      cursor: pointer;
      padding: 16px 20px;
    
      font-size: 15px;
      font-weight: bolder;
      text-align: center;
      border: none; 
        } 


      #footer {
        text-align: center;
        justify-content: center;
      
        color: rgb(247, 251, 253);
        font-size: 15px;
        bottom: 0;
        width: 100%;
        height: 2rem;           
        display: flex;
     
        padding: 1px;
        background-color: rgb(60, 58, 196);
        align-items: center;
        font-weight: bolder;
    
    
      }
    
